


body{
    display: flex;
    flex-wrap: wrap;
}





header {

    background-color:rgb(226, 43, 195);
    width: 100%;


}
nav {  
    background-color: #24b02b;
    width: 100%;
    }

aside{
    background-color: pink;
    width: 29%;

}
p{
   background-color: darkorange;

}

main{
   background-color: aqua;
   width:68%;

}
article{
   background-color: blue;
   padding:5px;
}
section{
   background-color: rgb(39, 39,39);

}

footer {
background-color: #9e14ae;
width: 100%;
}



